<!-- app/views/bookings/new.html.erb -->
<h1>New booking</h1>
<%= simple_form_for [@boat, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Create Booking", class: "btn btn-primary" %>
<% end %>
