<ul class="list-inline tabs-underlined">
  <li>
    <a class="btn btn-ghost" href="<%= boats_path %>">See all boats</a>
  </li>
  <li>
    <a class="btn btn-ghost" href="<%= bookings_path %>">My bookings</a>
  </li>
  <li>
    <a class="btn btn-ghost" href="<%= new_boat_path %>">Boatclub your boat</a>
  </li>
</ul>
