:root {
  --main-color: #16ecec;
}

.tabs-underlined {
  list-style: none;
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: left;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid var(--main-color);
}

.no-link-style{
  color: black; /* change the color to match your design */
  text-decoration: none;
}
